*{
    margin: 0;
    padding: 0;
}

/* Header Section Start */
.header a{
    font-size: 18px;
}
/* Header Section End */

/* Slider Section Start */
.slider-content h2{
    font-size: 41px;
}

.slider-content p{
    color: #b7b7b7;
    font-size: 18px;
}

.slider-content a{
    width: 150px;
    text-align: center;
    background-color: #000000;
    color: #FFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
}
/* Slider section End */

/* SmartPhone Section Start */
.smartphone{
    text-align: right;
}

.smartphone h2{
    font-size: 30px;
    text-align: left;
}

.smartphone a{
    font-size: 22px;
    color: #ff9d00;
    display: inline-block;
}

.smartphone-img{
    padding: 70px 0;
}

.smartphone-img h4{
    font-size: 24px;
}

.smartphone-img p{
    font-size: 16px;
    color: #b7b7b7;
}

.smartphone-img a{
    background-color: #000000;
    color: #FFF;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 20px;
}
/* SmartPhone Section End */

/* Categories Section Start */
.categories h2{
    font-size: 35px;
}
/* Categories Section End */